.faq {
  background-color: white;
  padding: 10rem 2rem 2rem 2rem;
  border-radius: 8px;
  width: min(90%, 25rem);
  margin: 0 auto;
  position: relative;
}

h1 {
  text-transform: uppercase;
  font-size: var(--fs-large);
  padding-bottom: 2rem;
  text-align: center;
}

.logo {
  background: url('./assets/illustration-woman-online-mobile.svg'), url("./assets/bg-pattern-mobile.svg");
  height: 22rem;
  background-repeat: no-repeat, no-repeat;
  position: absolute;
  top: -13rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: min(90%, 25rem);
  background-position: center, bottom;
  background-size: contain, contain;
}

@media screen and (min-width: 600px) {
  .faq {
    padding: 4rem 4rem 4rem 30rem;
    width: min(100%, 70rem);
    background: url('./assets/illustration-box-desktop.svg'), url('./assets/illustration-woman-online-desktop.svg'), url("./assets/bg-pattern-desktop.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-color: white;
    background-position: -4rem 60%, -80px center, -40rem center;
  }

  .logo {
    display: none
  }

}